/* ELEMENTS */

:root {
    --color-green: #38AF90;
    --color-white: #FFFFFF;
    --color-gray: #797979;
    --color-news: #F0F0F0;
    --color-red: #DD7E92;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* CLASSES, IDS */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
}

.nav-main {
    display: flex;
    justify-content: space-between;
}

a, a:hover {
    text-decoration: none;
}

.nav-main a {
    color: var(--color-white);
}
.menu-items {
    display: flex;
}

.menu-items ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 14px;
    margin: 30px 0;
}

.menu-items li {
    margin: 0px 29px 0px 0px;
}

.menu-title {
    font-size: 18px;
    color: var(--color-white);
    margin: 30px 0px 30px 10px;
}

.nav-main img {
    width: 62px;
    height: 62px;
    margin: 14px 10px 14px 0;
}

.title-main h2 {
    color: var(--color-gray);
    font-size: 24px;
    text-align: center;
    margin: 40px 0px 8px 0px;
}

.news-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.news-information-container {
    width: 300px;
    height: 493;
    background-color: var(--color-news);
    border-radius: 8px;
    margin: 0px;
}

.news-header h3 {
    font-size: 16px;
    color: var(--color-green);
    margin: 16px 12px 0px 12px;
}

.news-header h4 {
    font-size: 12px;
    color: var(--color-gray);
    margin: 7px 12px 0px 12px;
}

.news-header p {
    font-size: 10px;
    color: var(--color-green);
    margin: 3px 12px 0px 12px;
}

.news-text p {
    font-size: 10px;
    color: var(--color-gray);
    margin: 12px 12px 0px 12px;
}

.news-text a {
    font-size: 14px;
    color: var(--color-red);
    margin: 0px 12px 12px 12px;
}

.button-end button {
    background-color: var(--color-red);
    width: 244px;
    height: 67px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: var(--color-white);
    margin: 28px 38px 40px 38px;
}

.games-title h2 {
    color: var(--color-green);
    font-size: 24px;
    text-align: center;
    margin: 40px 0 0 0;
}

.games-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-description img {
    width: 300px;
    border-radius: 8px 8px 0 0;
    margin: 28px 0 0 0;
}

.games-description h3 {
    color: var(--color-gray);
    font-size: 18px;
    margin: 27px 0 0 0;
    text-align: center;
}

.games-description p {
    font-size: 14px;
    color: var(--color-gray);
    text-align: center;
    margin: 0;
}

.games-description span {
    color: var(--color-green);
    font: bold;
}

.games-score {
    font-size: 37px;
    color: var(--color-green);
    text-align: center;
    margin: 14px 0;
}

.singup-container h2 {
    font-size: 24px;
    color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 68px 0;
}

.singup-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 68px 0 0 0;
}

.singup-name input {
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 0 13px 22px;
}

.singup-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.singup-email input {
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 0 13px 22px;
}

.games-question {
    font-size: 16px;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 20px;
}

.games-checkbox {
    font-size: 16px;
    color: var(--color-gray);
    margin: 0 0 0 20px;
    padding: 20px 0 0 0;
}

.games-platform {
    
}

@media(max-width: 576px) {

    header .menu-items ul{display:none;}
}

@media(min-width: 768px) {
    
    .menu-title {
        font-size: 24px;
    }

    .title-main h2 {
        font-size: 36px;
    }
}